/* styles.css */
.tab-header {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding: 10px;
  }
  
  .tab-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .tab-button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .tab-content {
    margin-top: 10px;
  }
  
  .tab-pane {
    width: 580px;
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  .tab-pane.active {
    display: block;
  }

  @media(max-width:768px){
    .tab-pane {
      width: 380px;
      font-size: 12px;
     
    }
    .tab-header{
      width: 380px;
   
    }
    .tab-button{
      font-size: 12px;
      padding: 5px;
    }
  }
  